* {
    font-family: "KoHo";
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}
.dropdown {
    position: relative;
    display: inline-block;
    padding: 0px;
}

.language-button a, #cart-button a {
    text-decoration: none;
    color: black; 
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-menu li {
    padding: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#cart-button {
    grid-column: 4;
    display: grid;
    justify-content: center;
    align-items: center;
}

/*above is code for the navigation bar*/

.logobox img {
    width: 100px;
    height: auto;

}

.logobox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


hr.half-line {
    display: flex;
    width: 50%;
    margin: 0 auto;
    border: none;
    border-top: 5px solid tan;
    border-radius: 3px;
}

.location-title {
    width: 50%; 
    box-sizing: border-box; 
}


#map {
    height: 400px;
    width: 50%;

}

.storepickup-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
 }



@media screen and (max-width: 600px) {
    .logobox img {
        width: 80px;
    }

    .location-title h2,
    .location-title h3,
    .storepickup-title h2,
    .storepickup-title h4 {
        font-size: 16px;
    }
}