* {
    font-family: "KoHo";
}

body {
    overflow-x: hidden;
    margin: 0px;
}

.cartpg {
    display: flex;
    flex-direction: row;
}

.menubox {
    display: flex;
    background-color: #C3A88F;
    flex-direction: row;
    width: 600px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh
}

.order {
    display: flex;
    height: 700px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.continue {
    cursor: pointer;
}

.popup {
    top: 25vh;
}

.increment-tool {
    width: 70px;
    height: 20px;
    border-radius: 25px;
    border: 1px solid black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    font-size: medium;

}

.increment-tool div p {
    margin: 0px;
    text-align: center;
}

.increment-tool .minus {
    grid-column: 1;
}

.increment-tool #quant {
    grid-column: 2;
    border-left: 1px solid #7676765f;
    border-right: 1px solid #7676765f;
}

.plus {
    grid-column: 3;
}

.plus a:hover {
    text-decoration: none;
}

.minus a:hover {
    text-decoration: none;
}

.minus {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.plus {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.quant {
    padding-left: 5px;
    padding-right: 5px;
}

.plus:hover,
.minus:hover {
    background-color: #7676765f;
}

/* STYLE FOR THE ORDER DETAILS */
.drop-down {
    display: flex;
    flex-direction: column;
}

h2 {
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    color: white;
}

/* Style the button that triggers the dropdown */
.dropbtn {
    background-color: #C3A88F;
    color: white;
    padding: 10px;
    width: 250px;
    height: 30px;
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-content: center;
}

/* Style the dropdown content (hidden by default) */
.store-content {
    display: none;
    position: relative;
    background-color: #c3a88f;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 9px;
}

.store-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
    text-align: center;
}

/* Change color on hover */
.store-content a:hover {
    background-color: #b8997b;
}

/* Show the dropdown content on hover */
.drop-down:hover .store-content {
    display: block;
}

/* Style the dropdown content (hidden by default) */
.time-content {
    display: none;
    position: relative;
    background-color: #c3a88f;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 9px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100px;
}

/* Style the dropdown links */
.time-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
    text-align: center;


}

/* Change color on hover */
.time-content a:hover {
    background-color: #b8997b;
}

/* Show the dropdown content on hover */
.drop-down:hover .time-content {
    display: block;
}


/*STYLE FOR THE COFFEEBOX AND ITS DETAILS*/
.coffeebox {
    display: flex;
    background-color: white;
    /*max-height: 645px;*/
    height: 90vh;
    width: 775px;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 65px;
    padding-left: 20px;
    padding-bottom: 40px;
    align-items: center;
}

.box {
    display: flex;
    width: 500px;
    height: 150px;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: solid;
    border-color: lightgray;
    box-shadow: 0px 2px 5px gray;
    flex-direction: row;
}

.cftext {
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cftitle {
    width: fit-content;
    height: 75px;
    display: flex;
    margin: 0;
    padding: 0px;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.cfdetail {
    max-width: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
}

.continuebutton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.continue {
    height: 80px;
    width: 150px;
    font-size: larger;
    border-radius: 9px;
    color: #b8997b;
    background-color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-color: white;
    box-shadow: 2px 2px;
}

.edit {
    height: 30px;
    width: 30px;
    display: flex;
}

.editbutton {
    width: 40px;
    height: 30px;
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: center;
}

.editimage {
    height: 30px;
    width: 40px;
    display: flex;
}

.et {
    border-color: white;
    box-shadow: 0px;
}

.coffee,
.cappucino,
.lemonade {
    width: 75px;
    height: 75px;
    margin-left: 10px;
    margin-right: 10px;
}

/* NATHANS STYLING CODE FOR HEADER AND FOOTER */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

.shopping-header {
    display: grid;
    position: fixed;
    grid-template-columns: 20% 60% 15% 5%;
    grid-template-rows: 100%;
    box-shadow: 0px 1px 4px 0px #00000091;
    z-index: 2;
    width: 100vw;
    height: 65px;
    background-color: white;
}

.logobox {
    display: flex;
    align-items: stretch;
    justify-content: center;
    object-fit: contain;
}

.logobox img {
    height: 100%;
}

.language-button {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3;
}

.language-button ul {
    justify-content: end;
    padding: 0px;
}

.language-button ul:first-of-type(a) {
    padding-right: 10px;
}

#cart-button {
    grid-column: 4;
    display: grid;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 0px;
}

.dropdown-hours {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-menu-hours {
    display: none;
    position: fixed;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 20px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    text-align: center;
}

.dropdown-menu li {
    padding: 5px;
}

.dropdown-menu-hours li {
    padding: 5px;
}

.dropdown-menu-hours li:nth-child(2) {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.dropdown-menu-hours li strong {
    font-weight: bolder;
    font-size: large;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-hours:hover .dropdown-menu-hours {
    display: block;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 4px 0px #00000091;
}

a {
    text-decoration-line: none;
    color: black
}

/* Pop-up styling Desktop*/
.popup {
    position: absolute;
    height: 600px;
    width: 75vw;
    z-index: 3;
    left: 12.5%;
    background-color: white;
    border: 1px solid #767676;
    border-radius: 16px;
    box-shadow: 0px 0px 12px 1px;
    display: none;
    grid-template-rows: 1fr 3fr 1fr;
    padding-left: 20px;
    padding-right: 20px;

}

.popup h2 {
    color: black;
}

.item-name {
    grid-row: 1;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    font-weight: 800;
    top: 25px;
}

.size-options {
    grid-row: 2;
    margin-bottom: 5px;
}

.underline {
    height: 10px;
    width: 200px;
    background-color: #96663B;
    opacity: 39%;
    border-radius: 25px;
}

.options-container {
    display: flex;
    justify-content: space-around;
}

.selection {
    border: 1px solid black;
    border-radius: 25px;
    width: 250px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    cursor: pointer;
}

.selection p {
    margin-left: 20px;
}

.drop-arrow {
    grid-column: 2;
}

.add-to-cart {
    grid-row: 3;
    display: flex;
    justify-content: center;
}

.add-to-cart .movement-button {
    width: 300px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.exit {
    position: absolute;
    z-index: 4;
    font-size: xx-large;
    font-weight: bolder;
    left: 95%;
    top: 15px;
    cursor: pointer;
}

/* Specific for mobile to not display on desktop*/
@media screen and (min-width: 1000px) {
    .hamburger {
        display: none;
    }

    .shopping-header {
        flex-direction: column;
        text-align: center;
    }

    .shopping-header-mobile {
        display: none;
    }
}


@media screen and (max-width: 1000px) {
 /* SPECIFIC TO MOBILE HEADER WITH HAMBURGER MENU*/
    header {
        display: none;
    }

    header nav {
        display: none;
    }

    .logo {
        width: 90vw;
    }

    #order-online {
        width: 70vw
    }

    #the-menu {
        padding: 0px;
    }

    .hamburger {
        padding: 15px 15px;
        display: inline-block;
        cursor: pointer;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        outline: none;
        z-index: 9999;
        display: block;
    }


    .hamburger.is-active .hamburger-inner {
        bottom: 0;
        transform: translate(0, -10px) rotate(-45deg);
    }

    .hamburger.is-active .hamburger-inner::before {
        top: 0;
        transform: rotate(-90deg);
    }

    .hamburger-box {
        width: 30px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    .hamburger-box::before {
        display: block;
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

    .hamburger-inner {
        display: block;
        top: auto;
        bottom: 5px;
    }

    .hamburger-inner,
    .hamburger-inner::before {
        width: 30px;
        height: 3px;
        background-color: #351f16;
        border-radius: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }

    .hamburger-inner::before {
        content: "";
        display: block;
        top: -10px;
    }

    #the-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #C3A88F;
        z-index: -99;
        opacity: 0;
        transform: translateY(-100%);
        transition: all .5s ease-in-out;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        padding-bottom: 90px;

    }

    #the-menu.is-active {
        z-index: 9990;
        opacity: 1;
        transform: translateY(0%);
        padding: 0px;
    }

    #the-menu ul {
        flex-direction: column;
        align-items: center;

        height: 100vh;
        padding: 50px;
    }

    #the-menu ul a {
        color: white;
        font-size: xx-large;
        font-weight: bolder;
    }

    .increment-tool {
        display: none;
    }

    .shopping-header {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .shopping-interface {
        display: block;
    }

    .shopping-header-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px;
        background-color: white;
        color: black;
        position: fixed;
        height: 100px;
        width: 100vw;
        box-shadow: 0px 1px 4px 0px #00000091;

    }

    main {
        padding-top: 120px;
    }

    .movement-container {
        display: flex;
    }

    .hamburger {
        grid-column: 1;
        grid-row: 1;
    }

    .logobox {
        grid-column: 3;
        grid-row: 1;
    }

    .logobox img {
        width: 100%;
        max-width: 100%;
        max-height: 100px;
        box-sizing: border-box;
        overflow: hidden;
    }


    #mobile-nav-links {
        display: none;
        position: fixed;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 100;

        background-color: #C3A88F;
        color: white;
        font-size: xx-large;

        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;


    }

    #mobile-nav-links.is-active-flex {
        display: flex;
    }

    .mobile-menu-item,
    #language-button {
        padding-top: 20px;
        padding-bottom: 20px;
        color: white;
    }


    table {
        border-spacing: 20px;
    }

    .movement-button {
        margin-left: 0px;
        margin-right: 0px;
        width: 310px;
    }



    /* SPECIFIC FOR CART MOBILE*/
    .cartpg {
        display: flex;
        flex-direction: column-reverse;
    }

    .menubox {
        height: auto;
        width: auto;
        display: flex;
        
        background-color: #C3A88F;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 15px;
        align-items: center;
        margin-top: 0%;
        margin-bottom: 0%;
        position: fixed;
        top: 50vh;
        height: 50vh;
        width: 100vw;
    }

    .order {
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .store-content .time-content {
        position: absolute;
    }

    h2 {
        font-size: medium;
    }

    h3 {
        font-size: small;
    }

    .coffeebox {
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
        padding-bottom: 50vh;
    }

    .box {
        width: auto;
        height: 150px;
        box-shadow: 0px 2px 5px gray;
        display: flex;
        flex-direction: column;
        padding-top: 10px;

    }

    .cftitle {
        font-size: medium;
    }

    .cfdetail {
        font-size: small;
    }

    /* POPUP STYLE MOBILE */
    .popup {
        height: 800px;
        left: 6.25%;
        grid-template-rows: 0.5fr 3fr 1fr;
    }

    .exit {
        left: 90%;
    }

    .options-container {
        flex-direction: column;
    }

    .add-to-cart .movement-button {
        margin: 0px;
        margin-top: 30px;
    }

    .shot-quantity .increment-tool {
        display: grid;
        width: 100px;
        height: 30px;
        font-size: x-large;
    }
}