*{
    font-family: Koho;
}
    .biggestbox{
        display: flex;
    }
    .reviewbox{
        display: flex;
        background-color: #96663B;
    }
    .coffeebox{
        display: flex;
        background-color:white
    }
