* {
    font-family: "KoHo";
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header {
    background-color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 0px;
}

.dropdown-hours {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-menu-hours {
    display: none;
    position: fixed;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 20px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    text-align: center;
}

.dropdown-menu li {
    padding: 5px;
}

.dropdown-menu-hours li {
    padding: 5px;
}

.dropdown-menu-hours li:nth-child(2) {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.dropdown-menu-hours li strong {
    font-weight: bolder;
    font-size: large;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-hours:hover .dropdown-menu-hours {
    display: block;
}

footer {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: white;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container div {
    text-align: center;
}

#mainlogo {
    padding-top: 50px;
}

#addresses {
    margin-top: 50px;
    margin-bottom: 50px;
}

#addresses p {
    margin-bottom: 20px;
}

button {
    margin: 30px;
    background-color: #C3A88F;
    border-radius: 16px;
    width: 410px;
    height: 94px;
    border: none;
    
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    box-shadow: 0px 6px 6px 0px #767676;
}

button:hover {
    background-color: #96663B;
    box-shadow: none;
}

/* ----- MAIN-MENU-SPECIFIC STYLING BEGINS HERE ----- */
.shopping-header {
    display: grid;
    grid-template-columns: 20% 60% 15% 5%;
    grid-template-rows: 100%;
}

.logobox {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.logobox img {
    width: 50%;
}

.title-container {
    font-size: xx-large;
    padding-left: 68px;
    
}

.shopping-header h1 {
    grid-column: 2;
    }

.language-button {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3;
}

.language-button ul {
    justify-content: end;
    padding: 0px;
}

.language-button ul:first-of-type(a) {
    padding-right: 10px;
}

#cart-button {
    grid-column: 4;
    display: grid;
    justify-content: center;
    align-items: center;
}

.shopping-interface {
    display: grid;
    gap: 68px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 600px;
}

.sidebar {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 6fr;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.drink-title {
    grid-column: 1;
    grid-row: 1;
}

.drink-sections {
    grid-column: 1;
    grid-row: 2;
}

.drink-sections ul {
    list-style: none;
    padding-left: 0px;
    line-height: 100px;
    font-size: large;
}

.menubox {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-content: center;
}

.sectionbox {
    background-color: #767676;
    width: 348px;
    height: 173px;
    border-radius: 16px;
    margin: 20px;
    overflow: scroll;
}